body {
  font-family: "Forum", cursive;
  font-family: "Roboto", sans-serif;
}

.wrapper {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

.section {
  padding: 75px 0;
}

.dark__section {
  background: #030303;
}

.video__section {
  padding: 90px 0 75px 0;
}

:root {
  --bg-dark: #151719;
  --dark-red: #710707;
  --font-gold: #9d8665;
  --font1: 80px;
  --font2: 32px;
}

.section__title-dark {
  font-family: "Forum", cursive;
  font-style: normal;
  font-weight: normal;
  font-size: var(--font1);
  line-height: 90px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0;
}

.section__title {
  font-family: "Forum", cursive;
  font-style: normal;
  font-weight: normal;
  font-size: var(--font1);
  line-height: 90px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: var(--font-gold);
}

.text__explore {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 38px;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-bottom: 75px;
}

.header__container .logo h4 {
  display: inline-block;
  font-family: "Forum", cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 50px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #ffffff;
  margin: 74px 0 0 20px;
}

.header__container .link__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 720px;
  padding: 0;
  margin: 0;
}

.header__container .link__menu .item {
  list-style: none;
  padding-left: 76px;
}

.header__container .link__menu .item a {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 22px;
  line-height: 50px;
  letter-spacing: 2px;
  color: #ffffff;
  text-decoration: none;
}

.header__container .link__menu .item:first-child {
  padding-left: 0;
}

.welcome {
  height: 100%;
  background-image: url(../assets/img/background.jpg);
  background-repeat: no-repeat;
  background-position: right bottom;
}

.welcome .title__welcome {
  margin-top: 114px;
}

.welcome .text__welcome {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 28px;
  line-height: 33px;
  letter-spacing: 2px;
  color: #ffffff;
}

.welcome .button__welcome a {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 22px;
  line-height: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 2px;
  color: #ffffff;
  background: var(--dark-red);
  border-radius: 10px;
  padding: 24.5px 67.7px;
  display: inline-block;
  margin-top: 48px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin-bottom: 171px;
}

.visiting .underline__section-title {
  padding-bottom: 25px;
  border-bottom: solid 3px var(--dark-red);
}

.visiting .cart__visiting {
  max-width: 1440px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 60px;
          column-gap: 60px;
  row-gap: 78px;
}

.visiting .cart__visiting .cart__link {
  display: block;
  text-decoration: none;
}

.visiting .cart__visiting .cart__link img {
  width: 440px;
  height: 285px;
}

.visiting .cart__visiting .cart__link .underline__title {
  font-family: "Forum", cursive;
  font-style: normal;
  font-weight: normal;
  font-size: var(--font2);
  line-height: 35px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  margin-top: 25px;
  position: relative;
}

.visiting .cart__visiting .cart__link .underline__title::after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 0;
  right: 32%;
  height: 2px;
  background-color: var(--dark-red);
}

.visiting .cart__visiting .cart__link .text__visiting {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  margin-bottom: 0;
}

.visiting .cart__visiting .cart__link .small__text-visiting {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  margin-top: 0;
}

.explore .container__explore {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.explore .container__explore .explore__left {
  width: 50%;
  padding-right: 60px;
}

.explore .container__explore .explore__left .section__title-dark {
  position: relative;
  margin-bottom: 100px;
}

.explore .container__explore .explore__left .section__title-dark::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  right: 0;
  height: 3px;
  background-color: var(--dark-red);
}

.explore .container__explore .explore__left .text__explore {
  color: #ffffff;
}

.explore .container__explore .explore__left .text__explore span {
  color: #caaa7d;
}

.explore .container__explore .explore__right {
  width: 50%;
  padding-top: 15px;
}

.explore .container__explore .explore__right img {
  width: 100%;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.video {
  font-size: 0;
}

.video .poster {
  width: 100%;
  max-width: 100%;
}

.video .video__input {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3] 7fr 1fr 3fr 1fr;
      grid-template-columns: repeat(3, 1fr) 7fr 1fr 3fr 1fr;
  gap: 10px;
  -ms-grid-rows: 85px;
      grid-template-rows: 85px;
  padding: 0 10px;
  background-color: #000000;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.video .video__input .all__video,
.video .video__input .volume {
  width: 100%;
}

.video .text__video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 40px;
}

.video .text__video .left__text-video {
  width: 50%;
}

.video .text__video .left__text-video .section__title {
  margin: 0;
}

.video .text__video .right__text-video {
  width: 50%;
}

.video .text__video .right__text-video .text__explore {
  color: #000000;
}
/*# sourceMappingURL=style.css.map */