body {
  font-family: "Forum", cursive;
  font-family: "Roboto", sans-serif;
}
.wrapper {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}
.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}
.section {
  padding: 75px 0;
}
.dark__section {
  background: #030303;
}
.video__section {
  padding: 90px 0 75px 0;
}
:root {
  --bg-dark: #151719;
  --dark-red: #710707;
  --font-gold: #9d8665;
  --font1: 80px;
  --font2: 32px;
}
.section__title-dark {
  font-family: "Forum", cursive;
  font-style: normal;
  font-weight: normal;
  font-size: var(--font1);
  line-height: 90px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0;
}
.section__title {
  font-family: "Forum", cursive;
  font-style: normal;
  font-weight: normal;
  font-size: var(--font1);
  line-height: 90px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: var(--font-gold);
}
.text__explore {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 38px;
}

//Header

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 75px;
  .logo {
    h4 {
      display: inline-block;
      font-family: "Forum", cursive;
      font-style: normal;
      font-weight: normal;
      font-size: 28px;
      line-height: 50px;
      letter-spacing: 5px;
      text-transform: uppercase;
      color: #ffffff;
      margin: 74px 0 0 20px;
    }
  }
  .link__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 720px;
    padding: 0;
    margin: 0;
    .item {
      list-style: none;
      padding-left: 76px;
      a {
        font-family: "Roboto", sans-serif;
        font-style: normal;
        font-weight: 200;
        font-size: 22px;
        line-height: 50px;
        letter-spacing: 2px;
        color: #ffffff;
        text-decoration: none;
      }
    }
    .item:first-child {
      padding-left: 0;
    }
  }
}

// Section Welcom

.welcome {
  height: 100%;
  background-image: url(../assets/img/background.jpg);
  background-repeat: no-repeat;
  background-position: right bottom;
  .title__welcome {
    margin-top: 114px;
  }
  .text__welcome {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 28px;
    line-height: 33px;
    letter-spacing: 2px;
    color: #ffffff;
  }
  .button__welcome {
    a {
      text-decoration: none;
      font-family: "Roboto", sans-serif;
      font-style: normal;
      font-weight: 200;
      font-size: 22px;
      line-height: 26px;
      display: flex;
      align-items: center;
      text-align: center;
      letter-spacing: 2px;
      color: #ffffff;
      background: var(--dark-red);
      border-radius: 10px;
      padding: 24.5px 67.7px;
      display: inline-block;
      margin-top: 48px;
      transition: 0.5s;
      margin-bottom: 171px;
    }
  }
}

// Section Visiting

.visiting {
  .underline__section-title {
    padding-bottom: 25px;
    border-bottom: solid 3px var(--dark-red);
  }
  .cart__visiting {
    max-width: 1440px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 60px;
    row-gap: 78px;
    .cart__link {
      display: block;
      text-decoration: none;
      img {
        width: 440px;
        height: 285px;
      }
      .underline__title {
        font-family: "Forum", cursive;
        font-style: normal;
        font-weight: normal;
        font-size: var(--font2);
        line-height: 35px;
        letter-spacing: 5px;
        text-transform: uppercase;
        color: #000000;
        margin: 0;
        margin-top: 25px;
        position: relative;
      }
      .underline__title::after {
        content: "";
        position: absolute;
        bottom: -8px;
        left: 0;
        right: 32%;
        height: 2px;
        background-color: var(--dark-red);
      }
      .text__visiting {
        font-family: "Roboto", sans-serif;
        font-style: normal;
        font-weight: 200;
        font-size: 22px;
        line-height: 26px;
        color: #000000;
        margin-bottom: 0;
      }
      .small__text-visiting {
        font-family: "Roboto", sans-serif;
        font-style: normal;
        font-weight: 200;
        font-size: 18px;
        line-height: 21px;
        color: #000000;
        margin-top: 0;
      }
    }
  }
}

// Section Explore

.explore {
  .container__explore {
    display: flex;
    .explore__left {
      width: 50%;
      padding-right: 60px;
      .section__title-dark {
        position: relative;
        margin-bottom: 100px;
      }
      .section__title-dark::after {
        content: "";
        position: absolute;
        bottom: -10px;
        left: 0;
        right: 0;
        height: 3px;
        background-color: var(--dark-red);
      }
      .text__explore {
        color: #ffffff;
        span {
          color: #caaa7d;
        }
      }
    }
    .explore__right {
      width: 50%;
      padding-top: 15px;
      img {
        width: 100%;
        max-width: 100%;
        object-fit: cover;
      }
    }
  }
}

// Section Video

.video {
  font-size: 0;
  .poster {
    width: 100%;
    max-width: 100%;
  }
  .video__input {
    display: grid;
    grid-template-columns: repeat(3, 1fr) 7fr 1fr 3fr 1fr;
    gap: 10px;
    grid-template-rows: 85px;
    padding: 0 10px;
    background-color: #000000;
    align-items: center;
    .all__video,
    .volume {
      width: 100%;
    }
  }
  .text__video {
    display: flex;
    align-items: center;
    margin-top: 40px;
    .left__text-video {
      width: 50%;
      .section__title {
        margin: 0;
      }
    }
    .right__text-video {
      width: 50%;
      .text__explore {
        color: #000000;
      }
    }
  }
}
